/*html, body {
    height: 100%;
}*/

.box {
    font-weight: bold;
    color: white;
    background: cornflowerblue;
    padding: 5px 10px 15px 20px;
    border: 10px solid steelblue;
    /*margin: 5px 10px 15px 20px;*/
    box-sizing: border-box;
    height: 300px;
    width: 48%;
    display: inline-block;
    margin: 0;
}

/*#first-box {
    box-sizing: border-box;
    height: 100%;
    height: 300px;
    width: 50%;
}*/

#first-box {
    /*display: none;*/
    visibility: hidden;
}

div:last-of-type:hover {
    color: black;
    background: crimson;
    border-color: darkred;
}